html, body {
    width: 100%;
    background-color: rgb(211, 211, 211);
}

.App--CellGrid-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
}

.App--heading {
    text-align: center;
    font-size: 6rem;
    color: rgb(75, 75, 75);
}

.App--margin-top-3 {
    margin-top: 3rem;
}