html, body {
    width: 100%;
    background-color: rgb(211, 211, 211);
}

.App--CellGrid-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
    min-width: 640px;
    min-height: 480px;
}

.App--margin-top-3 {
    margin-top: 3rem;
}