.CellGrid--container {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border-radius: 10px;
    padding: 10px;
    background-color: rgb(75, 75, 75);
    width: 660px;
    height: 440px;
}
.CellGrid-fullImage {
    width: 640px;
    height: 420px;
    position: absolute;
    border-radius: 10px;
    animation-duration: 0.25s;
    animation-name: fadeIn;
    animation-timing-function: ease-in;
}
.gameOver {
    width: 640px;
    height: 420px;
    position: absolute;
    animation-duration: 0.25s;
    animation-name: fadeIn;
    animation-timing-function: ease-in;
    background-color: rgb(75,75,75);
}
.gameOver p {
    font-size: 3rem;
    color: rgb(211,211,211);
    font-weight: bold;
    text-align: center;
    position: relative;
    top: 120px;
}