.Cell--cell {
    box-sizing: border-box;
    border-radius: 10px;
}
.Cell--cell:hover {
    border: none;
}
.Cell--cell-blank {
    background-color: rgb(75, 75, 75);
    border: none;
}
.Cell--cell-blank:hover {
    border: none;
}
button:focus {
    outline: 0;
}
.Cell-selected{
    border: 4px solid red;
}
.Cell-isSwapping {
    border: 4px solid orange;
}