.fadeOut {
    animation-duration: 1s;
    animation-name: fadeOut;
    animation-timing-function: ease-in;
}
@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}