.HowToPlay {
    width: 640px;
    display: flex;
    flex-direction: column;
    margin: auto;
    align-items: center;
    margin-top: 1.5rem;
    color: rgb(75,75,75);
    font-weight: bold;
    text-align: center;
}
.HowToPlay h1 {
    font-size: 3rem;
    margin-bottom: 0.5rem;
}
.HowToPlay p {
    font-size: 1.5rem;    
}