.App--CellGrid-container {
    width: 250px;
    height: 250px;
    display: flex;
    flex-wrap: wrap;
    justify-self: center;
    margin: auto;
}

.App--heading {
    text-align: center;
}

.App--margin-top-3 {
    margin-top: 3rem;
}